<h1>my page</h1>

<h1>マイページ</h1>

<%# if @customer.id == current_customer.id %>
    <p><%#= link_to "編集する", edit_customers_path(@customer) %></p>
<%# end %>

<h3>氏名</h3>
<h3>カナ</h3>
<h3>郵便番号</h3>
<h3>住所</h3>
<h3>電話番号</h3>
<h3>メールアドレス</h3>
<h3>配送先</h3
<%#= link_to "一覧を見る" class: "btn btn-primary" %>
<h3>注文履歴</h3>
 <%#= link_to"一覧を見る"class:"btn btn-primary" %>