<div class='container'>
  <div class='row'>
    <h1 class="mx-auto">About</h1>
    ながのCAKEは全国発送可能なケーキ屋さんです。
    お子様からお年寄りの方までお召し上がりいただけるよう、
    様々なバリエーションをご用意しております。
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
    ぜひご注文ください。
    <%#写真(画像の表示)?%>
  </div>
</div>