<div class="row">
      <div class="col-md-8 main-visual-background">
        <div class="main-border">
        <div class="main-visual-content">
            <p class="main-visual-content-text">
              ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
            </p>
             <%= link_to "マイページ", my_page_customers_path(current_customer) %>
　　　　　　　<%= link_to "about",about_path %>
        </div>
        </div>
      </div>
    </div>


<div class="container">
 <div class="row">
  <div class="col-md--4">
      <h3>新着商品</h3>

        <div class="col-md--8">
          <%#= link_to "もっと見る>", products_path %>
        </div>
      </div>
    </div>
  </div>
</div>


