<div class="title">注文情報入力</div>

      <form>
        <div class="form-group">
          <label class="control-label">支払い方法</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
            <label class="form-check-label" for="radio1a">クレジットカード</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio2" id="radio1b">
            <label class="form-check-label" for="radio1b">銀行振込</label></label>
          </div>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label class="control-label">お届け先</label></label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
            <label class="form-check-label" for="radio1a">ご自身の住所</label>

            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio2" id="radio1b">
            <label class="form-check-label" for="radio1b">登録先住所から選択</label>
          <div class="form-group">
            <!--<label for="custom-select-1a"></label>-->
            <select id="custom-select-1a" class="custom-select custom-select-sm">
              <option>住所１</option>
              <option>住所２</option>
            </select>
          </div>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio3" id="radio1c">
            <label class="form-check-label" for="radio1c">新しいお届け先</label>
            <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">郵便番号（ハイフンなし）</label>
            <div class="col-sm-10">
              <input type="email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">住所</label></label>
            <div class="col-sm-10">
              <input type="password" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">宛名</label></label>
            <div class="col-sm-10">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="form-row col-text-center">
              <button type="submit" class="btn btn-primary">確認画面へ進む</button>
            </div>
          </div>
        </form>

        </div>
          </div>
        </div>
      </form>
