  <div class="container">
    <h1>商品一覧</h1>
      <table>
        
        <% @products.each do |item| %>
        <tbody>
          <div class="row">
          <tr>
	           <td colspan="4">

	             <h3><%= product.name %></h3>
	             <p><%= products.introduction %></p>
	           </td>
          </tr>
          </div>
        </tbody>
        <% end %>
      </table>
  </div>