<div class="container">
	<table>
		<tbody>
			<tr>
				<td rowspan="2"></td>
				<td>a</td>
			</tr>
			<tr>
				<td><h3>いちごのショートケーキ</h3></td>
				<td><p>栃⽊県産のとちおとめを贅沢に使⽤しています。</p></td>
			</tr>
			<tr>
				<td><%= select :name, ['1', '2', '3'], {include_blank: '選択ボックス'}, class: 'sample' %></td>
				<td>カートに入れる</td>
			</tr>
		</tbody>
	</table>
</div>