<div class="container">
	<table>
		<tbody>
			<tr>
				<td rowspan="2"></td>
				<td>a</td>
			</tr>
			<tr>
				<td>a</td>
			</tr>
			<tr>
				<td>個数選択</td>
				<td>カートに入れる</td>
			</tr>
		</tbody>
	</table>
</div>