  <div class="row">
    <div class="col-xs-10">
      <h2>配送先登録/一覧</h2>
      <%= form_with local:true do |f| %>
	      <table class="table">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>郵便番号（ハイフンなし）</td>
							<td><%#= f.text_field %></td>
							<td></td>
						</tr>
						<tr>
							<td>住所</td>
							<td><%#= f.text_field  %></td>
							<td></td>
						</tr>
						<tr>
							<td>宛名</td>
							<td><%#= f.text_field %></td>
							<td><%#= f.submit "新規登録", class: "new-address-btn" %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
			<table class="table table-bordered">
				<thead>
					<tr class = "active">
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<%# .each do |address| %>
						<tr>
							<th>郵便番号</th>
							<td>住所</td>
							<td>名前</td>
							<td>
								<%= link_to "編集する", class: "edit-address-btn" %>
								<%= link_to "削除する",  class: "delete-address-btn" %>
							</td>
						</tr>
					<%# end %>
				</tbody>
			</table>
    </div>
  </div>
</div>