<div class="row">
    <div class="col-md-12">
      <div class="pull-left margin-bottom">
        <h3 class="header-background">ショッピングカート</h3>
      </div>
      
     
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
         
      </table>
            <div class="row">
            <div class="col-xs-3 margin-bottom">
              <%= link_to do %>
              <span class="btn btn-info glyphicon glyphicon-shopping-cart">買い物を続ける</span>
              <% end %>
            </div>
            <tr>
            <td>
                  <div class="col-md-3 col-md-offset-6 text-left">
                    <table class="table table-bordered">
                      <tr class="row">
                        <td class="col-xs-5">
                          合計金額
                        </td>
                        <td class="col-xs-7">
                         
                        </td>
                      </tr>
                    </table>
                  </div>
            </td>
            </tr>
            </table>
            </div>
            <div class="col-md-4 col-md-offset-4 text-center">
              <%= link_to " 情報入力に進む", new_order_path, class: "glyphicon glyphicon-pencil btn btn-success" %>
            </div>
        </div>
    </div>
    