<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p>CopyRight NaganoCAKE.inc</p>
    <li>
     <%= link_to "about", about_path %>
    </li>
      </div>
    </div>
  </div>
</footer>



